{% extends 'base.html' %}

	{% block titulo %}
	<title>Agregar Productos</title>
	{% endblock %}
	{% block content %}
	{% if user.is_authenticated %}
	<h3 style="color: #AEB5BD;">Agrega un producto:</h3>
	<form action="" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{{ formulario.as_p }}
		<button style="margin-bottom: 10px;" type="submit" class="btn btn-outline-success">Aceptar</button>
	</form>
	{% else %}
	<p>Usted está ingresando a la página como usuario invitado</p><br>
	<p>Si desea agregar algún producto a nuestros servidores debera registrarse</p>
	<h6  class="font-weight-light">¡¡Gracias por su colaboración!!</h6>
	{% endif %}
	{% endblock %}